@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background: #0E0D14;
}
@keyframes animate-homeCircle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes homeCircleOpacity {
    0% {
        opacity: .5;
    }
    100% {
        opacity: .7;
    }
}
@keyframes homeCirclePosition {
    0% {
        transform: translate(-150px) scale(.8);
    }
    25% {
        transform: translateY(150px) scale(1);
    }
    50% {
        transform: translate(150px) scale(1.2);
    }
    75% {
        transform: translateY(-150px) scale(1);
    }
    100% {
        transform: translate(-150px) scale(.8);
    }
}
.animate-homeCirclesContainer {
    animation: homeCirclesContainer .75s ease-in-out;
}
.animate-homeCircle {
    animation: homeCircleOpacity 8s ease-in-out var(--opacity-delay) infinite alternate, homeCirclePosition 20s ease-in-out var(--position-delay) infinite alternate;
}
.\[--opacity-delay\:-8s\] {
    --opacity-delay: -8s;
}
.\[--position-delay\:-3s\] {
    --position-delay: -3s;
}

