@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: white;
    background: #0E0D14;
}
@keyframes animate-homeCircle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes homeCircleOpacity {
    0% {
        opacity: .0;
    }
    50% {
        opacity: .9;
    }
    100% {
        opacity: .0;
    }
}
@keyframes homeCirclePosition {
    0% {
        transform: translate(-550px) scale(.1);
    }
    25% {
        transform: translateY(450px) scale(1);
    }
    50% {
        transform: translate(0px) scale(3.2);
    }
    75% {
        transform: translateY(-450px) scale(1);
    }
    100% {
        transform: translate(550px) scale(.1);
    }
}
.animate-homeCirclesContainer {
    animation: homeCirclesContainer .75s ease-in-out;
}
.animate-homeCircle {
    animation: homeCircleOpacity 20s ease-in-out var(--opacity-delay) infinite alternate, homeCirclePosition 20s ease-in-out var(--position-delay) infinite alternate;
}
.\[--opacity-delay\:-8s\] {
    --opacity-delay: -8s;
}
.\[--position-delay\:-3s\] {
    --position-delay: -3s;
}

